/* 09.20 네비게시션 바 */

.navigationBar {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: 1px solid #aaaaaa;
  color: #333;

  z-index: 1;
}
.navigationBar .icon:hover,
.navigationBar .icon:active,
.navigationBar .icon:hover:not(.current) {
  color: teal;
}
.dark-mode .navigationBar {
  background-color: #10171d;
  color: #f8f8f8;
  border-top: 1px solid #f8f8f8;
}
/* :hover:not(.current) */
.dark-mode .navigationBar .icon:hover,
.dark-mode .navigationBar .icon:active,
.dark-mode .navigationBar .icon:hover:not(.current) {
  color: #d22873;
}
.navigationBar li {
  margin: auto;
}

.navigationBar Link {
  display: -ms-inline-grid;
  place-items: center;
  position: relative;
  z-index: 1;
  margin-left: 10px;
}
.navigationBar i:hover {
  color: teal;
}
.dark-mode .navigationBar i:hover {
  color: #d22873;
}

.icon:hover FontAwesomeIcon {
  color: #fff;
}

.logoNav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-timing-function: ease-in; */
  /* transition: 0.5s; */
  background-color: #f8f8f8;
}

/* .logoNav i,
.logoNav span {
  color: #333;
  cursor: pointer; 
}*/

.logoNav .logos {
  color: #333;
  font-family: -apple-system;
  cursor: pointer;
  font-size: 60px;
  font-weight: 900;
}
.dark-mode .logoNav .logos {
  color: #f8f8f8;
}
.logoNav .logos .triangle {
  font-size: 68px;
  font-weight: 600;
}

.logoNav .logos .rectangle {
  font-size: 65px;
  font-weight: bolder;
}

.logoNav .logos:hover,
.logoNav .logos:active {
  color: teal;
}
.dark-mode .logoNav {
  background-color: #10171d;
}

.dark-mode .logoNav .logos:hover,
.dark-mode .logoNav .logos:active {
  color: #d22873;
}

/* .dark-mode .logoNav i {
  color: #f8f8f8;
  cursor: pointer;
} */

/* .dark-mode .logoNav i:hover,
.dark-mode .logoNav i:active {
  color: #d22873;
} */

.logoNav.active {
  transition: all 0.5s;
  visibility: visible;
  z-index: 1;
}
.logoNav.hidden {
  visibility: hidden;
  transition: all 0.5s;
  z-index: 1;
  transform: translateY(-100%);
}
