.nweet_PC {
  width: 100%;
  max-width: 720px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  color: rgba(0, 0, 0, 0.8);
}

.nweet_PC h4 {
  font-size: 14px;
}

.nweet_PC .nweetImg {
  position: relative;
  cursor: pointer;

  top: 10px;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, 0%);

  border-radius: 10px;
  width: 600px;
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nweet_PC form {
  text-align: center;
}
